
.brand-header{
    position: relative;
    width: 100%;
    height: 46px;
    background-color: var(--black-color);  
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-category__list-link{
    padding: 15px 25px;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--while-color);
}
.main-category__list-link:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}
.main-category__list-link .main-category__list-icon{
    position: absolute;
    top: 12px;
    margin-left: 2px;
}
.brand-header__search{
    position: absolute;
    padding: 15px 25px;
    color: var(--while-color);
    font-size: 1.5rem;
    right: 0;
}
.brand-header__search:hover{
    background-color: var(--red-color);
}
.main-category__list-link__extra{
    position: relative;
}
.category__list-link__items{
    position: absolute;
    width: 140px;
    height: fit-content;
    background-color: var(--while-color);
    top: 100%;
    left: 0;
    color: var(--black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 4rem;
    list-style: none;
    display: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}
.list-link__item{
    padding-right: 0;
    padding-left: 15px;
}
.list-link__item:hover{
    background-color: var(--gray-color);
}
.main-category__list-link__extra:hover .category__list-link__items{
    display: block;
}
/* Slider */
#slider{
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat;
}
#slider .text-heading{
    position: absolute;
    color: var(--while-color);
    bottom: 48px;
    width: 100%;
    /* left: 50%;
    transform: translateX(-50%); */
    text-align: center;
}
#slider .text-content{    
    font-size: 2.5rem;
    margin-bottom: 25px;
    font-weight: 400;
}
#slider .text-decription{
    font-size: 1.5rem;
    font-weight: 500;
}
/* Content */
#content .about
{
    position: relative;
    width: 770px;
    /* background-color: #FFFF; */
    margin-left: auto;
    margin-right: auto;
    padding: 64px 0px;   
}
.about-header{
    text-align: center;
    font-size: 3.5rem;
    font-weight: 400;
    margin-bottom: 30px;
}
.header-name-song{
    text-align: center;
    font-size: 1.4rem;
    font-style: italic;
    font-weight: 200;
    color: #898989;
    margin-bottom: 25px;
}
.about .about-paragrap{
    text-align: justify;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: var(--black-color);
    margin-bottom: 70px;
}
.about-member{
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

/* .about-member__boder{
    
} */
.about-member__name{
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}
.about-member__img{
    width: 150px;
    border-radius: 4px;
}
/* Tour */
#content .tour{
    /* position: relative;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    color: var(--while-color); */
    width: 100%;
    height: 850px;
    color: #FFFFFF;
    background-color: var(--black-color);
    padding: 64px 0 ;
}
.tour-all{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.tour .about-header{ 
    color: var(--while-color);
    font-weight: 300;
    font-size: 3.5rem;
    margin-top: 30px;
}

.tour .header-name-song{
    font-weight: 400;
}

.tour-calendar{
    width: 100%;
    height: 120px;
    background-color: #FFFFFF;
    text-decoration: none;
    margin-top: 15px;
    margin-bottom: 30px;
}
.tour-calendar__month{
    margin-bottom: 30px;
    margin-top: 45px;
}
.calendar__month-list{
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #757575;
    border-bottom: 1px solid #dddddd;
    padding-left: 20px;
}
.ticket{
    margin-left: 20px;
    padding: 4px 8px;
    background-color: #f44336;
    color: var(--while-color);
}
.ticket-remaining{
    position: absolute;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: var(--black-color);
    color: #FFFFFF;
    right: 30px;
    font-size: 1.6rem;
}
.tour__location{
    display: flex;
    justify-content: space-between;
}
.tour__location-list{
    width: 245px;
    height: 390px;
    background-color: #FFFFFF;
    color: var(--black-color);
}
.tour__location-list-img{
    width: 245px;
    /* transition: filter 0.3s ease; */
}
.tour__location-list-img:hover{
    /* transition: grayscale(30%);
    transition: filter 0.3s ease; */
    opacity: 0.8;
}
.tour__location-name,
.tour__location-date,
.tour__location-decrip
{
    margin-top: 21px;
    padding-left: 20px;
    font-size: 1.8rem;
}
.tour__location-name{
    font-weight: 500;
}
.tour__location-date,
.tour__location-decrip{
    font-size: 1.6rem;
}
.tour__location-btn{
    margin-left: 20px;
    margin-top: 15px;
    background-color: black;
    color: #FFFFFF;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
}
.tour__location-btn:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}
/* Contact */
#content .contact{
    /* position: relative;
    width: 770px;
    margin-left: auto;
    margin-right: auto;
    color: var(--while-color); */
    width: 100%;
    height: 460px;
    color: var(--gray-color);
    background-color: #FFFFFF;
    padding: 64px 0;
}
.contact-all{
    width: 770px;
    margin-left: auto;
    margin-right: auto;
}
.full-contact{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.contact-all .about-header{
    color: var(--black-color);
}
.full-contact__loca-num{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    line-height: 3rem;
}
.full-contact__loca-num-infor{
    color: var(--black-color);
}
.full-contasct__loca-input{
    position: relative;
    width: 380px;
    height: 90px;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;    
}
.name-and-mail{
    display: flex;
    justify-content: space-between;
}
.input-name,
.input-email{    
    padding: 9px;    
}
.input-name,
.input-email,
.input-message{    
    border-radius: 3px; 
    font-size: 1.3rem;
    border: none;
}
.input-message{
    padding: 10px 10px 10px 10px;
    margin-top: 14px;
}
.full-contasct__loca-input .tour__location-btn{
    width: 80px;
    position: absolute;
    right: 0;
    bottom: -65px;
    padding: 14px 0;
    cursor: pointer;
} 
.border-hide{
    border: 1px solid #ccc !important;
}

/* img end */
.img-end{
    position: absolute;
    width: 100%;
    padding-top: 50%;
    background: url('/assets/img/map.jpg') top center / cover no-repeat;
    filter: grayscale(50%);
    pointer-events: none;
}
/* footer */
#footer{
    width: 100%;
    padding-top: 50%;
    background-color: #FFFFFF;
    margin: 70px 0 ;
}
#footer .footer-logo,
#footer .footer-design
{
    text-align: center;
}

#footer .footer-logo{
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #666666;
    cursor: pointer;
}
.footer-logo-m:hover{
    color: var(--gray-color);
}
#footer .footer-design{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    color: #666666;
}
.footer-design-title{
    margin-right: 5px;
}
.footer-design-name{
    text-decoration: none;
    color: #05ad9f;
}
.footer-design-name:hover{
    color: #3cf3e4;
}
/* Overlay */
.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
}
.modal.open {
    display: flex;
}
.modal-container{
    width: 900px;
    max-width: calc(100% - 40px);
    height: 450px;
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}
.modal-header__close{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding: 15px 15px;
    z-index: 1;
    color: #FFFFFF;
}
.modal-header__close:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}
.modal-header{
    width: 100%;
    height: 125px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    color: #FFFFFF;
}
.modal-header__title{
    margin-left: 15px;
    font-weight: 400;
}
.modal-body{
    margin: 15px;
}
.modal-body__sell-ticket,
.modal-body__input-email{
    display: flex;
    font-size: 1.6rem;
    margin-bottom: 15px;
}
.modal-body__sell-ticket--input,
.modal-body__input-email--input{
    margin-bottom: 15px;
    padding: 10px;
    width: 100%;
    font-size: 1.5rem;
    border: 1px solid #ccc !important;
}
.modal-body__btn .modal-body__btn-para{
    padding: 16px;
    width: 100%;
    background-color: #009688;
    border: none;
    color: #FFFFFF;
    font-size: 1.5rem;
    cursor: pointer;
}
.modal-body__btn .modal-body__btn-para:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}

.modal-footer{
    font-size: 1.5rem;
    display: flex;
    margin: 30px 15px 0 15px;
    justify-content: space-between;
}
.modal-footer__help-para{
    padding: 12px 15px;
    font-weight: 600;
    background-color: #f44336;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}
.modal-footer__help-para:hover{
    background-color: var(--gray-color);
    color: var(--black-color);
}
.modal-footer__help-link{
    color: #05ad9f;
}
.modal-body__sell-ticket-para,
.modal-body__input-email-para{
    margin-left: 5px;
}