/* PC >=1024px*/
@media (min-width: 1024px) {

}
/* Tablet (>=740px and <1024px)*/
@media (min-width: 740px) and (max-width: 1023px) {
    #content .about,
    #content .tour,
    #content .contact {
        padding: 64px 16px;
    }
    
    .tour-all,
    .contact-all{
        width: 100%
    }

    .tour__location-list {
        width: 235px;
    }

    .tour__location-list-img {
        width: 235px;
    }
}
/*Mobile <740px*/
@media (max-width: 739px){
    .brand-header {
        position: fixed;
        background-color: var(--black-color);
        top: 0;
        left: 0;
        z-index: 1;
        /* position: relative; */
        width: 186%;
        height: 70px;
        overflow: hidden;
    }
    .main-category__list-link {
        font-size: 2.5rem;
        text-decoration: none;
        color: var(--while-color);
        padding: 0;
        padding: 20px 100% 20px 20px;
        line-height: 70px;
    }
    .brand-header__add-use-mobile{
        display: flex;
        list-style: none;
        flex-direction: column;
        /* padding-top: 230px; */
        font-size: 6rem;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        width: 100%;
        
    }
    #slider {
        width: 186%;
        position: relative;
        padding-top: 100%; 
        margin: 70px 0 0 0;     
    }
    .brand-header__search {
        display: none;
    }
    .brand-header-list__mobile{
        position: fixed;
        top: 0;
        right: 0;
        height: 70px;
        width: 80px;
        color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        cursor: pointer;
    }
    
    .brand-header-list__mobile:hover,
    .brand-header__add-use-mobile-item:hover{
        background-color: var(--gray-color);
        color: var(--black-color);
    }
    .main-category__list-icon{
        margin-top: 5px;
        padding-left: 5px;
    }
    .category__list-link__items {
        width: 100%;
        margin-top: -70px;
        padding-left: 30px;
    }
    .about-header{
        font-size: 6.5rem;
        padding-top: 70px;
    }
    .header-name-song{
        font-size: 2.4rem;
    }
    .about .about-paragrap {
        text-align: justify;
        font-size: 2.8rem;
        font-weight: 400;
        line-height: 4.0rem;
        color: var(--black-color);
        margin-bottom: 70px;
    }
    #content .about {
        position: relative;
        width: 770px;
        /* background-color: #FFFF; */
        margin-left: auto;
        margin-right: auto;
        padding: 64px 16px;
    }
    .about-member {
        display: flex;
        justify-content: space-around;
        margin-bottom: 40px;
        flex-direction: column;
        align-items: center;
    }
    .about-member__boder {
        width: 60%;
        height: fit-content;
    }
    .about-member__img {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 30px;
    }
    .about-member__name {
        margin-bottom: 20px;
        text-align: center;
        font-size: 3.4rem;
        font-weight: 400;
    }
    #content .tour {
        width: 186%;
        height: 3000px;
        color: #FFFFFF;
        background-color: var(--black-color);
        padding: 64px 16px;
        position: relative;
    }
    .tour-all {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .tour .about-header {
        color: var(--while-color);
        font-weight: 300;
        font-size: 6.5rem;
        margin-top: 30px;
    }
    .tour .header-name-song {
        font-weight: 400;
        font-size: 3rem;
    }
    .calendar__month-list {
        position: relative;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        font-size: 3.5rem;
        font-weight: 400;
        color: #757575;
        border-bottom: 1px solid #dddddd;
        padding-left: 20px;
    }
    .tour-calendar {
        width: 100%;
        height: 150px;
        background-color: #FFFFFF;
        text-decoration: none;
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .tour-calendar__month {
        margin-bottom: 0;
        margin-top: 45px;
    }
    .tour__location {
        display: flex;
        margin-top: 35px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .tour__location-list {
        width: 100%;
        height: fit-content;
        background-color: #FFFFFF;
        color: var(--black-color);
        margin-bottom: 50px;
        padding-bottom: 20px;
    }
    .tour__location-list-img {
        width: 100%;
        /* transition: filter 0.3s ease; */
    }
    .tour__location-name {
        font-weight: 500;
        font-size: 6rem;
        margin-bottom: 40px;
    }
    .tour__location-date{
        font-size: 3rem;
    }
    .tour__location-date, .tour__location-decrip {
        font-size: 2rem;
    }
    .tour__location-btn {
        margin-left: 20px;
        margin-top: 15px;
        background-color: black;
        color: #FFFFFF;
        padding: 20px 40px;
        border: none;
        cursor: pointer;
        font-size: 3rem;
        width: 95%;
    }
    
    .contact-all {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    #content .contact {
        width: 186%;
        height: 800px;
        color: var(--gray-color);
        background-color: #FFFFFF;
        padding: 100px 16px 64px 16px;
    }
    .full-contact {
        display: flex;
        /* justify-content: space-between; */
        margin-top: 50px;
        flex-direction: column;
    }
    .full-contasct__loca-input {
        position: relative;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
    }
    .name-and-mail {
        display: flex;
        flex-direction: column;
    }
    .border-hide {
        border: 1px solid #ccc !important;
        margin-bottom: 20px;
    }
    .input-message {
        padding: 10px 10px 10px 10px;
        margin: 0;
    }
    .full-contact__loca-num {
        display: flex;
        flex-direction: column;
        font-size: 3rem;
        line-height: 6rem;
    }
    .input-name, .input-email, .input-message {
        border-radius: 3px;
        font-size: 2.3rem;
        border: none;
        padding: 30px;
    }
    .full-contasct__loca-input .tour__location-btn {
        width: 100%;
        position: absolute;
        right: 0px;
        bottom: -300px;
        padding: 20px 16px;
        cursor: pointer;
    }
    .img-end {
        position: relative;
        width: 186%;
        padding-top: 100%;
        background: url(/assets/img/map.jpg) top center / cover no-repeat;
        filter: grayscale(50%);
        pointer-events: none;
    }
    #footer {
        width: 186%;
        height: 550px;
        /* padding-top: 50%; */
        background-color: #FFFFFF;
        margin: 70px 0;
    }
    #footer .footer-logo {
        margin-top: -150px;
        font-size: 6.5rem;
        margin-bottom: 10px;
        color: #666666;
        cursor: pointer;
    }
    #footer .footer-design {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.6rem;
        color: #666666;
        margin-top: 30px;
    }
    .brand-header__add-use-mobile-item.add-use-mobile-item_fix{
        height: 70px;
    }
    .main-category__list-link .main-category__list-icon {
        left: 90px;
    }
    .list-link__item {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .img-end {
        margin-top: 100px;
    }
}